<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Минимальный уровень логирования -->
  <variable name="logLevel" value="Trace" />

  <targets>
    <!-- Логирование в файл -->
    <target xsi:type="File" name="fileTarget"
        fileName="C:\TelegramBot\TelegramBot.${shortdate}.log"
        archiveEvery="Day" archiveNumbering="Rolling"
        layout="${longdate} [${level}] ${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <!-- Логируем все сообщения уровня Info и выше -->
    <logger name="*" minlevel="${logLevel}" writeTo="fileTarget" />
  </rules>
</nlog>